.featured-image  {
    position: absolute;
    right: 4rem;
    padding: 1rem;
    height: auto;
    top: -25rem;
    z-index: 5;
    background-image: linear-gradient(to right bottom, var(--color-secondary), var(--color-secondary-light));

    @include respond(med-small) {
        top: -19rem;
        right: 50%;
        transform: translateX(50%);
    }
    
    img {
        height: 18vw;
        width: auto;

        @include respond(med-small) {
            height: 35vw;
        }

    }
    &__caption {
        position: absolute;
        background-color: var(--color-secondary);
        outline: 1px inset var(--color-white);
        outline-offset: -3px;
        font-size: $font-sm-md;
        text-align: center;
        color: var(--color-white);
        padding: 1rem 2rem;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
    }

    // Peeled shadow effect on featured image
    &:after{
        position: absolute;
        content: "";
        z-index: -1;
        bottom: 12px;
        right: 8px;
        top: 80%;
        width: 60%;
        box-shadow: 0 18px 15px #486685;
        transform: rotate(5deg);

        @include respond(med-small) {
            display: none;
        }
    }
}